.hidden {
    height: 0;
    visibility: hidden;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    color:white;
    background-color: rgb(10, 165, 226);
}

.navbar-custom img {
    float: left;
    width: 60px;
    height: 60px;
}

.navbar-custom .account {
    position: relative;
    display: flex;
    align-items: center;
}

.account .avatar {
    margin-right: 11px;
    width: 25px;
    height: 25px;
    /* place holder color */
    background-color: orange;
    border-radius: 50%;
}

.navbar-custom .page {
    position: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;

}

/* initally hidden */
.account .dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    visibility: hidden;
    /* placeholder colors */
    background-color: white;
    border-radius: 10%;
    /* allow mouse to move to dropdown without disappearing */
    transition-duration: 250ms;
}

/* show dropdown */
.account:hover > .dropdown {
    visibility: visible;
}

.dropdown:hover {
    visibility: visible;
}