body {
	margin: 0px;
	background-color: #f2f7ff;
	color: #4472c4;
}

/* placeholder */
.placeholder {
	margin: 3vh 5vw;
}

.placeholder h {
  display: inline-block;
  margin: 10px 0px;
	font-size: 24px;
}

.placeholder .receiving {
	float: right;
  --r: 235;
  --g: 133;
  --b: 35;
	color: white;
}

.placeholder .flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .box {
  position: relative;
	padding: 15vh 12vw;
	margin: 2vh 2vw;
	background-color: white;
	font-size: 24px;
	border-radius: 10%;
}

.box .text {
  position: absolute;
  top: 10px;
  left: 0;
}


  .example_a {
	color: #fff !important;
	text-decoration: none;
	background: #bb7373;
	padding: 20px;
	border-radius: 25px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.example_a:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}