body {
	margin: 0px;
	background-color: #f2f7ff;
	color: #4472c4;
}

/* placeholder */
.placeholder {
	margin: 3vh 5vw;
}

.placeholder h {
  display: inline-block;
  margin: 10px 0px;
	font-size: 24px;
}

.placeholder .receiving {
	float: right;
  --r: 235;
  --g: 133;
  --b: 35;
	color: white;
}

.placeholder .flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .box {
  display: inline-block;
	/* for now set to a ratio to the windows length or height, which ever is larger */
	padding: 15vh 12vw;
	margin: 2vh 2vw;
	background-color: white;
	font-size: 24px;
	border-radius: 10%;
}